import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-<%= dasherize(name) %>-form',
  template: `
    <p>
      form works!
    </p>
  `,
  styles: []
})
export class <%= classify(name) %>FormComponent implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}